<template>
    <!-- Blog Post -->
    <div class="row">
        <div class="col-md-12">

            <form method="post" name="addpost" id="addpost" action="#" enctype="multipart/form-data" class="my_3" @submit.prevent="addPost">
                <input type="hidden" name="_token" :value="csrf">
                <div class="form-group">
                    <label>Post title</label>
                    <input type="text" name="title" id="title" class="form-control" v-model="post.title">
                    {{ post.title }}
                </div>

                <div class="form-group">
                    <label>Categories</label>
                    <select name="categoryid" class="form-control" id="categoryid" v-model="post.categoryid">
                        <option value="">Choose Category Name</option>
                        <option :value="category.id" v-for="category in categories.data" :key="category.id">
                            {{ category.name }}
                        </option>
                    </select>

                    <div class="form-group">
                        <label>Photo</label>
                        <div class="form-row">
                            <div class="col-md-3" v-if="post.photo">
                                <img :src="post.photo" class="img-responsive" height="70" width="90">
                            </div>
                            <div class="col-md-6">
                                <input type="file" name="photo" v-on:change="onImageChange" class="form-control-file">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Post Body</label>
                        <textarea name="body" class="form-control" id="body" v-model="post.body"></textarea>
                    </div>

                    <div class="form-group">
                        <input type="submit" name="btnsubmit" class="btn btn-primary" value="Upload">
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                categories:{},
                csrf:'',
                post:{
                    'title':'',
                    'body':'',
                    'categoryid':'',
                    'photo':''
                },
                
            }
        },
        mounted(){
            console.log('PostCreate Component mounted');
            this.csrf = myToken.csrfToken;
            this.getCategories();
        },
        methods:{
            getCategories(){
                axios.get('/api/categories').then((response) => {
                    console.log(response.data.data);
                    this.categories = response.data;
                });
            },
            onImageChange(e){
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length) {
                    return;
                }
                this.createImage(files[0]);
            },

            createImage(file){
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.post.photo = e.target.result;
                };
                reader.readAsDataURL(file);
            },

            addPost() {
                alert(this.post.body);
                axios.post('/api/posts', {
                    'title': this.post.title,
                    'body': this.post.body,
                    'categoryid': this.post.categoryid,
                    'photo': this.post.photo
                }).then(response => {
                    if (response.data.success) {
                        alert(response.data.success);
                    }
                    this.post.title = '';
                    this.post.body = '';
                    this.post.categoryid = '';
                    this.post.photo = '';
                    window.location.href = '/';
                });
            }
        }
    }
</script>
